.userbookings{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Aadd input{
    width: 50%;
    height: 50px;
    background-color: #d9d9d9;
    border: none;
    margin-bottom: 1%;
}
.done-btn button{
    background-color: #62FF02;
    font-size: 30px;
    font-weight: 700;
    width: 10%;
}