body{
    background-color: white;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}
.header{
    color: white;
    display: flex;
    justify-content: space-between;
}
.loginpage{
    background: url(../assets/logo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.buttons-login button{
    display: grid;
    padding-top: 1%;
    font-weight: 900;
    margin-left: 45%;
    margin-bottom: 2%;
    background-color: blue;
    border-radius: 10px;
}
input{
    margin-bottom: 5%;
    height: 100px;
}
