.welcome{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-register-container{
    width: 80%;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
}
.loginpage{
    background: url(../assets/front2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.buttons-login button{
    display: grid;
    padding-top: 1%;
    font-weight: 900;
    margin-top: 10%;
    margin-left: 45%;
    margin-bottom: 2%;
    background-color: blue;
    border-radius: 10px;
}
.form-login input{
    margin-top: 10%;
    margin-bottom: 10%;
    height: 80px;
    width: 80%;
    margin-left: 80px;
    background-color:white;
    border: none;
    border-radius: 10px;
}
.loginpage ::placeholder{
    font-size: 30px;
}
