.main-review{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner{
    position: relative;
    margin-top: 15px;
    padding: 32px;
    width: 80%;
    height: 80%;
    max-width:640px;
    background-color: white;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;

}

.more-info{
    display: flex;
    width: 100%;
    height: 50%;
}
.room-services{
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #BF8035;
}
.review-comp{
    width: 100%;
    height: 80%;
    color: #BF8035;
    font-weight: 700;
}
.room-rev{
    text-align: center;
}