.userbookings{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    z-index: 80;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boking-user{
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
    width: 30%;
}
.adminadd{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ubooking-inputs input{
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    border: none;
    margin-bottom: 1%;
}
.proceed-btn button{
    color: white;
    width: 50%;
}